* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    
}

.main-page-slider{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page-slider img{
    margin-top: 8vw;
width: 10vw;
height: 10vw;
}
.page-txt{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-txt h3{
font-weight: 500;
    font-size: 2.2vw;
    text-align: center;
    width: 30vw;
    font-family: 'Noto Sans JP', sans-serif;
}
.page-txt p{
    text-align: center;
   font-size: 0.8vw;
   width: 20vw;
}
.frnt-pge-btn{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frnt-pge-btn a{
    padding: 0.4vw 9vw;
    border-radius: 0.8vw;
    background-color: #01bdf3;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #dbe9ee48;
    
}
.page-txt h4{
    margin-top: 6.5vw;
    font-size: 3.2vw;
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 600;
}
@media (max-width:768px) {
    .main-page-slider{
        width: 100%;
        height: 75vw;

    }
    .main-page-slider img{
        margin-top: 8vw;
        width: 66vw;
        height: 64vw;
        mix-blend-mode: darken;
    }
    .page-txt{
        width: 100%;

    }
    .page-txt h3{
        margin-top: 2vw;
    font-size: 6.5vw;
    width: 85vw;
    font-weight: 600;
    font-family: 'Tiro Devanagari Marathi', serif;
    }
    .page-txt p{
        margin-top: 10vw;
       font-size: 3vw;
       width: 45vw;
    }
    .frnt-pge-btn{
        margin-top: 0vw;
    }
    .frnt-pge-btn a{
        padding: 2.7vw 32vw;
        border-radius: 2vw;
        background-color: #01bdf3;
        color: white;
        text-decoration: none;
        font-size: 5vw;
        font-family: 'Noto Sans JP', sans-serif;
        
    }
    .container{
        height: 100%;
    padding-top: 17vw;
    }
    #men-img{
    width: 70vw;
    }
    .shirwal{
        margin: 0;
        font-size: 1.2vw;
        position: relative;
        bottom: 7.3vw;
    }
}
