* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;

}
body::-webkit-scrollbar{
    display: none;
}
.nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navbar {
    width: 100%;
    height: 8vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px;
    position: sticky;
    top: 0;
    z-index: 100;

}

.profile-img {
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-img img {
    border-radius: 50%;
    background-color: rgba(255, 160, 122, 0.281);
    width: 6vw;
    height: 6vw;
}

.profile-welcome-txt {
    width: 20vw;
    height: 100%;
    padding: 1vw 0vw;
}

.profile-welcome-txt h4 {
    font-size: 1.5vw;
}

.nav-icons {
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon {
    width: 4vw;
    height: 4vw;
    margin-left: 2.5vw;
    background-color: white;
    border-radius: 50%;
    padding: 1vw;
    color: #020272;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.wlcm {
    color: orange;
}

.hero-section {
    width: 100%;
    height: 55vw;
}

.hero-section img {
    padding: 3vw;
    width: 100%;
    height: 100%;
    border-radius: 9vw;
}

.hero-section {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    margin-top: 20vw;
    max-width: 100%;
    position: relative;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 8vw;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

.section2 {
    width: 100%;
    height: 10vw;
    padding: 0vw 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxsize {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.boxsize img {
    padding: 5vw;
    padding-bottom: 1vw;
    width: 16vw;
    height: 15vw;
}

.boxsize p {
    font-size: 2.3vw;
}

.section3 {
    margin-top: 3vw;
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.doctor-headline {
    font-size: 3vw;
    padding: 3vw 3vw;
    color: #000000c7;
}

.section3-box {
    width: 40vw;
    height: 100%;
    border-radius: 4vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.img-box {
    width: 100%;
    height: 25vw;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    background-color: rgba(135, 207, 235, 0.365);

}

.txt-box {
    width: 100%;
    height: 9.5vw;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    background-color: white;
}

.txt-box p {
    font-size: 2vw;
    padding-top: 2.5vw;
    padding-left: 3vw;
}

.txt-box .txt-p {
    font-size: 1vw;
}

.pain-section {
    width: 100%;
    height: 50vw;
    margin-top: 3vw;
}

.pain-box {
    width: 100%;
    height: 20vw;
    display: flex;
    padding: 0vw 3vw;
    background-color: white;
    margin-top: 4vw;
}

.neck-pain-box {
    width: 100%;
    height: 20vw;
    display: flex;
    padding: 0vw 3vw;
    background-color: white;
    margin-top: 4vw;
    flex-direction: row-reverse;
}
.shoulder-pain-box {
    width: 100%;
    height: 20vw;
    display: flex;
    padding: 0vw 3vw;
    background-color: white;
    margin-top: 4vw;
    flex-direction: row-reverse;
}
.ankle-pain-box {
    width: 100%;
    height: 20vw;
    display: flex;
    padding: 0vw 3vw;
    background-color: white;
    margin-top: 4vw;
    flex-direction: row-reverse;
}

.pain-img {
    width: 30vw;
    height: 100%;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    background-image: url('lower-back-pain.jpg');
    background-size: cover;
    animation: colorCycle 1.5s infinite;
}
@keyframes colorCycle {
    0% {
        filter: grayscale(100%);
    }
    50% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
.notification-count{
    animation: notification 1.5s infinite;
}
@keyframes notification {
    0% {
        filter: grayscale(40%);
    }
    50% {
        filter: grayscale(40%);
        background-color: white;


    }
    100% {
        filter: grayscale(0%);
        
    }
}

.neck-pain-img {
    width: 30vw;
    height: 100%;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    background-image: url('neck-pain.jpg');
    background-size: cover;
    animation: colorCycle 1.5s infinite;
}
.shoulder-pain-img {
    width: 30vw;
    height: 100%;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    background-size: cover;
    animation: colorCycle 1.5s infinite;
}

.knee-pain-img {
    width: 30vw;
    height: 100%;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    background-image: url('knee\ pain.jpg');
    background-size: cover;
    animation: colorCycle 1.5s infinite;
}

.shoulder-pain-img {
    width: 30vw;
    height: 100%;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    background-image: url('shoulder-pain.jpg.crdownload');
    background-size: cover;
    animation: colorCycle 1.5s infinite;
}

.hand-pain-img {
    width: 30vw;
    height: 100%;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    background-image: url('handpain.jpg');
    background-size: cover;
    animation: colorCycle 1.5s infinite;
}

.ankle-pain-img {
    width: 30vw;
    height: 100%;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    background-image: url('anklepain.jpg');
    background-size: cover;
    animation: colorCycle 1.5s infinite;
}


.pain-txt {
    width: 70vw;
    height: 100%;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.311);
}

.neck-pain-txt {
    width: 70vw;
    height: 100%;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.311);
}

.neck-pain-txt h3 {
    padding: 4vw;
    font-size: 3vw;
    padding-bottom: 0;
}

.neck-pain-txt p {
    font-size: 1.5vw;
    padding: 0vw 4vw;
    color: gray;
    opacity: 0.8;
}
.shoulder-pain-txt {
    width: 70vw;
    height: 100%;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.311);
}

.shoulder-pain-txt h3 {
    padding: 4vw;
    font-size: 3vw;
    padding-bottom: 0;
}

.shoulder-pain-txt p {
    font-size: 1.5vw;
    padding: 0vw 4vw;
    color: gray;
    opacity: 0.8;
}
.ankle-pain-txt {
    width: 70vw;
    height: 100%;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.311);
}

.ankle-pain-txt h3 {
    padding: 4vw;
    font-size: 3vw;
    padding-bottom: 0;
}

.ankle-pain-txt p {
    font-size: 1.5vw;
    padding: 0vw 4vw;
    color: gray;
    opacity: 0.8;
}

.pain-txt h3 {
    padding: 4vw;
    font-size: 3vw;
    padding-bottom: 0;
}

.pain-txt p {
    font-size: 1.5vw;
    padding: 0vw 4vw;
    color: gray;
    opacity: 0.8;
}

.expertise{
    font-size: 3vw;
    padding: 3vw 3vw;
    color: #000000c7;
}
.section4{
    width: 100%;
    height: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vw;
}
.clinic-location{
    width: 100%;
    height: 50%;
    border: 1px solid rgba(172, 172, 172, 0.299);
    border-bottom: 3px solid #8cbe46;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    margin-top: 3vw;
}

.loc-logo-txt{
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    padding-left: 5vw;

    
}

.loc-logo-txt svg{
    width:5vw;
    height: 5vw;

}
.loc-logo-txt h3{
font-size: 2vw;
    
}
.clinic-time{
    width: 100%;
    height: 50%;
    border: 1px solid rgba(172, 172, 172, 0.299);
    border-bottom: 3px solid #8cbe46;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;

}
.clinic-time svg{
    width:5vw;
    height: 5vw;

}
.clinic-time h3{
font-size: 2vw;
    
}
.loc-para p{
    font-size: 1vw;
    color: #717171;
    opacity: 0.8;
}
.time-para p{
    font-size: 1vw;
    color: #717171;
    opacity: 0.8;
}
.sec4-heading{
    width: 100%;
    height: 3vw;
}
.sec4-heading h3{
   font-size: 2vw;
}
.loc-map{
    width: 100%;
    height: 17vw;
}
.end-footer{
    width: 100%;
    height: 10vw;
    display: none;
}
.footer-above{
    width: 100%;
    height: 30vw;
}

/*=============== GOOGLE FONTS ===============*/






/*--------------------MediaQuery Css--------------------------------------------------------*/

@media (max-width:768px) {

    .slideshow-container {
        margin-top: 25vw;
      
    }
    .navbar {
        width: 100%;
        height: 22.5vw;
        
    }

    .profile-img {
        padding-left: 3vw;
        width: 53vw;
        height: 100%;
    }

    .profile-img img {

        width: 12vw;
        height: 12vw;
    }

    .profile-welcome-txt {
        padding-top: 5.5vw;
        width: 37vw;
        height: 100%;
    }

    .profile-welcome-txt h4 {

        padding-left: 4vw;
        font-size: 3.5vw;
        line-height: 1;
        font-weight: 600;

    }

    .nav-icons {
        width: 38vw;
        height: 100%;
        margin-right: 0vw;

    }

    .icon {
        width: 10vw;
        height: 10vw;
        margin-left: 5.5vw;
        padding: 2.5vw;

    }

    .profile-welcome-txt .wlcm {
        font-size: 2.8vw;
        font-weight: lighter;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .section2 {
        width: 100%;
        height: 20vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .boxsize {
        width: 20%;
        height: 100%;
        border-radius: 3vw;
       
    }
    #box1{
        background-color: #ebf6fb;
        
    }
    #box2{
        background-color: #f9f6ec;
      
    }
    #box3{
        background-color: #ecf8f5;
       
    }
    #box4{
        background-color: #f7ecee;
    }

    .boxsize img {
        width: 21vw;
            height: 16vw;
    }
  
    .section3 {
        width: 100%;
        height: 46vw;
        padding: 0vw 2.1vw;
    }

    .doctor-headline {
        font-size: 5vw;
        padding-top: 6vw;
        padding-left: 5vw;
    }
    .expertise {
        font-size: 5vw;
        padding-top: 6vw;
        padding-left: 5vw;
    }

    .section3-box {
        width: 42vw;
        height: 100%;
        border-radius: 4vw;
    }

    .img-box {
        width: 100%;
        height: 30vw;
        border-top-left-radius: 4vw;
        border-top-right-radius: 4vw;
    }

    .txt-box {
        width: 100%;
        height: 15vw;
        position: relative;
        z-index: 10;

    }

    .txt-box p {
        font-size: 3.7vw;
    }

    .txt-box .txt-p {
        position: relative;
        bottom: 5.5vw;
        font-size: 2.7vw;
        opacity: 0.8;
    }

    .pain-section {
        width: 100%;
        height: auto;
        margin-top: 6vw;
    }

    .pain-box {
        width: 100%;
        height: 25vw;
    }

    .neck-pain-box {
        width: 100%;
        height: 25vw;
    }
    .shoulder-pain-box {
        width: 100%;
        height: 25vw;
    }
    .ankle-pain-box {
        width: 100%;
        height: 25vw;
    }
    .pain-img {
        width: 30vw;
        height: 100%;
    }

    .neck-pain-img {
        width: 30vw;
        height: 100%;
    }

    .knee-pain-img {
        width: 30vw;
        height: 100%;
    }

    .shoulder-pain-img {
        width: 30vw;
        height: 100%;
    }

    .hand-pain-img {
        width: 30vw;
        height: 100%;
    }

    .ankle-pain-img {
        width: 30vw;
        height: 100%;
    }



    .pain-txt h3 {
        font-size: 4vw;
    }

    .pain-txt p {
        font-size: 2vw;
    }

    .neck-pain-txt h3 {
        font-size: 4vw;
    }

    .neck-pain-txt p {
        font-size: 2vw;
    }
    .shoulder-pain-txt h3 {
        font-size: 4vw;
    }

    .shoulder-pain-txt p {
        font-size: 2vw;
    }
    .ankle-pain-txt h3 {
        font-size: 4vw;
    }

    .ankle-pain-txt p {
        font-size: 2vw;
    }
    .pain-section {
        padding: 0vw 2.8vw;
    }
    .section4{
        padding: 3vw;
        width: 100%;
        height: 180vw;
  flex-direction: column;
  margin-top: 6vw;
    }
    .clinic-location{
        width: 100%;
        height: 60%;
        /*border: 1px solid rgba(172, 172, 172, 0.299);*/
        
    }
    .clinic-time{
        margin-top: 2.5vw;
        width: 100%;
        height: 30%;

    }
    .loc-logo-txt{
        width: 100%;
        height: 18vw;
    
}
.loc-logo-txt svg{
    position: relative;
    bottom: 1vw;
    width: 7vw;
    height: 7vw;
}    
.loc-logo-txt h3{
    font-size: 4vw;
    padding-left: 3vw;
    color: #020272;
        
    }

    .clinic-time svg{
        position: relative;
        bottom: 1vw;
        width: 7vw;
        height: 7vw;
    }    
    .clinic-time h3{
        font-size: 4vw;
        padding-left: 3vw;
        color: #020272;
            
        }
    .loc-para p{
        font-size: 3vw;
        padding: 0vw 4vw;
        margin-left: 12vw;
        width: 76vw;
        height: 11vw;
        position: relative;
        bottom: 3vw;

    }
    .time-para p{
        position: relative;
        bottom: 3vw;
        font-size: 3vw;
        padding: 0vw 4vw;
        margin-left: 12vw;
        width: 75vw;
        height: 10vw;

    }

    .sec4-heading{
        width: 100%;
        height: 6vw;
    }
    .sec4-heading h3{
       font-size: 5vw;
       text-align: center;
       text-decoration: dashed;
       opacity: 0.9;
    }

    .loc-map{
        width: 100%;
    height: 71vw;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    }

    iframe{
        padding: 2vw;
        width: 100%;
        height: 100%;
      border-radius: 7vw;
    }

    .end-footer{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 5vw;
        width: 95%;
        height: 18vw;
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
       
        position: fixed;
        bottom: 0;
        z-index: 1000;
        background-color: white;
        bottom: 3.5vw;
    }
    .footer-box{
flex-direction: column;        
        width: 22%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vw 0vw;
        padding-top: 3vw;
        
    }

    .footer-box a{
  text-decoration: none;
  color: black;
  opacity: 0.85;
  font-size: 3vw;
  text-align: center;
  padding-top: 1vw;

            }
    .footer-box svg{ 
      opacity: 0.85;
        width: 50%;
        height: 45%;
        
    }
   
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .notification-count{
        position: absolute;
        top: 5vw;
        right: 18vw;
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        background-color: red;
        display: flex;
        justify-content: center;
    }
    .notification-count p{
        padding-top: 0.2vw;
       color: white;
       font-size: 2.2vw;
       text-align: center;
       font-weight: 700;
    }
.FAQ-section{
    height: auto;
    width: 100%;

}
.FAQ-heading h1{
    font-size: 4.7vw;
    text-align: center;
    padding: 5vw;
}
.question-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.question-box{
    margin-top: 2vw;
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 3.5vw;
    border: 1px solid lightgray;
    border-radius: 3vw;

 
   
}
.question-box h3{
    font-size: 3.3vw;
    padding-left: 4vw;
    height: 100%;
    width: 100%;
    padding: 3vw 1vw;
    opacity: 0.6;
}
.question-box h3:active{
    color: blue;
   
}
.heading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

 
}
.heading svg{
    width: 4.5vw;
    height: 4.5vw;
    opacity: 0.6;
}
.question-box p{
    font-size: 2.5vw;
    padding-left: 3vw;
    width: 100%;
    height: auto;
   display: none;
}



#doc1{
    width: 32vw;
    position: relative;
    left: 4vw;
    margin-left: 0vw;
    opacity: 0.9;
    padding: 1vw;
 
}



    }
 








