@media (max-width:768px) {
    .container{
        height: 100%;
        width: 100%;
    }
    .Login-section1 {
        width: 100%;
        height: 100%;
        
    }
    .Login-section1 img{
        width: 90vw;
        height: 92vw;
        margin-bottom: 15vw;
    }
    .sign-up{
        padding: 3.5vw 1vw;
        font-size: 4.5vw;
        width: 90%;
        height: 13vw;
        margin-top: 12vw;
        border-radius: 3vw;
    }
    .sign-in{
        padding: 3.5vw 1vw;
        font-size: 4.5vw;
        width: 90%;
        height: 13vw;
        margin-top: 3vw;
        border-radius: 3vw;
    }
    .sign-up:Hover{
    background-color: white;
    color: #01bdf3;
    border: 1px solid #01bdf3;
}
.sign-in:Hover{
    background-color: #01bdf3;
    color: white;
}
    .Login-section1 h4{
        font-size: 3vw;
        font-weight: 100;
        color: grey;
        letter-spacing: 0.2vw;
        font-family: 'Noto Sans JP', sans-serif;
        padding-bottom: 0;
    }
    .skip{
        color: grey;
        font-size: 3vw;
        padding-top: 3vw;
        text-decoration: none;
    }
    .skip:hover{
        color: rgb(0, 145, 255);
    }
}
