@media (max-width:768px) {
    .container{
        height: 100%;
        width: 100%;
    }
    .container-2{
        height: 100%;
        width: 100%;
        background-color: #f5f5f5;
        padding-left: 2.5vw;
    }
    .Login-section1 {
        width: 100%;
        height: 100%;
        
    }
    .Login-section1 img{
        width: 90vw;
        height: 92vw;
        margin-bottom: 15vw;
    }
    .sign-up{
        padding: 3.5vw 1vw;
        font-size: 4.5vw;
        width: 90%;
        height: 13vw;
        margin-top: 12vw;
        border-radius: 3vw;
    }
    .sign-in{
        padding: 3.5vw 1vw;
        font-size: 4.5vw;
        width: 90%;
        height: 13vw;
        margin-top: 3vw;
        border-radius: 3vw;
    }
    .Login-section1 h4{
        font-size: 3vw;
        font-weight: 100;
        color: grey;
        letter-spacing: 0.2vw;
        font-family: 'Noto Sans JP', sans-serif;
        padding-bottom: 0;
    }
    .skip{
        color: grey;
        font-size: 3vw;
        padding-top: 3vw;
        text-decoration: none;
    }
    .skip:hover{
        color: rgb(0, 145, 255);
    }

/*---------Log-in page------------------------------*/
.page-box{
    padding: 3vw 4vw;
    width: 100%;
    height: 100%;
}
.login-section-1 svg{
    color: #014cc4;
padding: 3vw 0vw;
height: 15vw;
width: 15vw;
}
.login-section-1 h3{
    margin-top: 3vw;
    padding: 1vw 2vw;
   font-size: 5.5vw;
   font-weight: 500;
    }
    .login-section-1 p{
        margin-top: 3vw;
        padding: 0vw 2vw;
        font-size: 3vw;
        width: 40vw;
        font-family:sans-serif;
        letter-spacing: 0.1vw;
        }
        .login-section-2{
            margin-top: 0vw;
            padding-left: 2vw;
            height: auto;
        }
        .login-section-2 label{
            font-size: 3.5vw;
        }
        .box{
            display: flex;
            gap: 5vw;
            align-items: center;
            width: 100%;
            height: 12vw;
            background-color: white;
            border: 0.5px solid grey;
            border-radius: 2.5vw;
            margin-top: 1vw;
           
            
        }
        .login{
            margin-top: 6vw;
        }
        .box input{
            border: none;
            width: 100%;
            outline: none;
        }
        .box-svg{
            width: 5.5vw;
            height: 6.5vw;
            margin-left: 3vw;
        }
        .login-section-3{
            margin-top: 10vw;
            width: 100%;
            height: auto;
        }
        .login-button{
            color: white;
            text-decoration: none;
font-size: 4.5vw;
padding-left: 35vw;
padding-right: 35vw;
padding-top: 2.5vw;
padding-bottom: 2.5vw;
            background-color: #01bdf3;
            border-radius: 2.5vw;
        }
        .right-left{
            margin-top: 5vw;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15vw;
        }
        .right-left a{
           font-size: 3vw;
           text-decoration: none;
        }
        .login-footer{
            width: 100%;
            height: 100%;
            margin-top: 15vw;
        }
        .google-section{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 5vw;
            
        }
        .google-section h4{
            text-align: center;
            padding-left: 30vw;
font-size: 3vw;
word-spacing: 0.6vw;
        }
        .login-options{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .google{
            margin-top: 5vw;
            width: 40vw;
            height: 15vw;
            border: 1px solid grey;
            display: flex;
            align-items: center;
            gap: 5vw;
            padding: 0vw 5vw;
            border-radius: 2vw;
            background-color: white;
        }
        .google h3{
            padding-top: 2vw;
           font-size: 4vw;
        }
        .google svg{
            width: 6vw;
            height: 6vw;
         }
         .apple{
            margin-top: 5vw;
            width: 40vw;
            height: 15vw;
            border: 1px solid grey;
            display: flex;
            align-items: center;
            gap: 5vw;
            padding: 0vw 5vw;
            border-radius: 2vw;
            background-color: white;
        }
         .apple h3{
            padding-top: 2vw;
           font-size: 4vw;
        }
        .aaple svg{
            width: 19vw;
            height: 19vw;
         }
         .login-button:hover{
            background-color: white;
            color: #01bdf3;
            border: 1px solid #01bdf3;

         }

    /*---------Log-in page------------------------------*/
    
}
