* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    
}

html,
body {
    height: 100%;
    width: 100%;
}
section{
    width: 100%;
    height: 100%;
    background-color: #f5f8ff;
}

@media (max-width:768px) {
    section{
        width: 100%;
        height: 100%;
       
    
    }
    .notification-navbar{
        width: 100%;
        height: 20vw;
   background-color: #fff;
   box-shadow: 0 3px 11px rgba(0,0,0,0.05);
   display: flex;
   justify-content: space-between;

    }
    .back-button{
        width: 40vw;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    .back-button svg{
        width: 8vw;
        height: 8vw;
        color: black;
        opacity: 0.7;
       
    }
    .back-button a{
       border-radius: 100%;
       background-color: #fff;
       box-shadow: 0 3px 11px rgba(0,0,0,0.05);
       border: 1px solid rgba(211, 211, 211, 0.4);

    }
    .back-button h2{
        padding-top: 1vw;
        font-size: 3.5vw;
 
     }
     .Hamburg-button{
        width: 40vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 4vw;
     }
     .Hamburg-button svg{
        width: 8vw;
        height: 8vw;
        color: black;
        padding: 1.5vw;
        
       
    }
    .Hamburg-button a{
       border-radius: 100%;
       background-color: #fff;
       box-shadow: 0 3px 11px rgba(0,0,0,0.05);
       border: 1px solid rgba(211, 211, 211, 0.4);

    }
    .hero{
        width: 100%;
        height: 100%;
    }
    .hero-dates{
        width: 100%;
        height: 11vw;
    }
    .hero-dates h3{
        font-size: 3.5vw;
        text-align: start;
        padding: 3vw 4vw;
        font-weight: 600;
        opacity: 0.8;
    }
    .notification-messages{
        width: 100%;
        height: 22vw;
        border-bottom: 1px solid rgb(220, 220, 220);
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }
    .icon{
        width: 25vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon svg{
        width: 10vw;
        height: 10vw;
        opacity: 0.5;
    
    }
    .icon a{
        width: 16vw;
        height: 16vw;
        border-radius: 100%;
        background-color: #cff4fc;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4.5vw;
        opacity: 0.7;
    
    }
    .message{
        width: 75vw;
        height: 100%;
        padding: 3vw;
    }
    .message h4{
       font-size: 3.5vw;
       opacity: 0.7;
    }
    .message p{
        font-size: 3.5vw;
        color: #62a1fd ;
        opacity: 0.9;
     }
}
